@page
@model elite_dangerous_colonise.Pages.AboutModel
@{
    ViewData["Title"] = "About Page";
    ViewData["Description"] = "This page contains information about ED Colonise.";
    ViewData["url"] = "https://edcolonise.net/About";
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script>
        $("[data-accordion-target]").on("click", function () {
            const button = $(this);

            $("[data-accordion-target]").each(function () {
                const button = $(this);

                RemoveActiveClasses(button);
            });

            if (button.attr("aria-expanded") === "false") {
                AddActiveClasses(button);
            }
            else {
                RemoveActiveClasses(button);
            }
        });

        function AddActiveClasses(button) {
            const span = button.find("span");
            const svg = button.find("svg");

            button.addClass("bg-[#F07B05] text-[#F0F0F0]")
                .removeClass("bg-white text-[#0F0F0F]");
            span.addClass("text-[#F0F0F0]")
                .removeClass("text-[#0F0F0F]");
            svg.addClass("text-[#F0F0F0]")
                .removeClass("text-[#0F0F0F]");
        }

        function RemoveActiveClasses(button) {
            const span = button.find("span");
            const svg = button.find("svg");

            button.addClass("bg-white text-[#0F0F0F]")
                .removeClass("bg-[#F07B05] text-[#F0F0F0]");
            span.addClass("text-[#0F0F0F]")
                .removeClass("text-[#F0F0F0]");
            svg.addClass("text-[#0F0F0F]")
                .removeClass("text-[#F0F0F0]");
        }
    </script>
}
<section class="mt-3 mb-3 w-full rounded-md bg-[#F0F0F0] p-3">
    <h1 class="p-1 text-center text-xl text-[#0F0F0F] sm:text-left">About</h1>
    <div data-accordion="collapse" class="mt-3">
        <div id="about-heading-1" class="grid">
            <button type="button" class="flex w-full cursor-pointer items-center justify-between gap-3 rounded-t-lg border border-t-1 border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-1" aria-expanded="false" aria-controls="about-body-1">
                <span class="flex items-center font-bold text-[#0F0F0F]">What is this?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-1" class="hidden" aria-labelledby="about-heading-1">
            <div class="border border-t-0 border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    ED Colonise is a tool designed to make finding interesting or specific colonisation candidates easier.
                </p>
            </div>
        </div>

        <div id="about-heading-2" class="grid">
            <button type="button" class="flex w-full cursor-pointer items-center justify-between gap-3 border border-t-1 border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-2" aria-expanded="false" aria-controls="about-body-2">
                <span class="flex items-center font-bold text-[#0F0F0F]">How do I use this tool...</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-2" class="hidden" aria-labelledby="about-heading-2">
            <div class="border border-t-0 border-[#0F0F0F] bg-white p-5 shadow-sm">
                <h2 class="text-lg font-bold">...to find any system to colonise:</h2>
                <p class="ml-5">
                    Simply clicking "Search" will display all colonisable systems within 2000-3000 ly sorted by value. However, these results may be too far away, already claimed (but not reported as such), or they may not be what you wanted.
                    <br /><br />
                    To refine your search, click the "More Options" button. This will open a selection of sliders that you can use to tailor your search to your preferences.
                    <br /><br />
                    Once you've executed a search, a list of system names will be displayed under the search bar. Clicking on one of these names will display a summary of the system's details as well as the names and locations of nearby stations that you can use for colonisation.
                </p>
                <h2 class="mt-5 text-lg font-bold">...to expand from your existing colonies:</h2>
                <p class="ml-5">
                    To find colonisable systems within 15 ly of an existing system, enter the existing system's name into the "Colonised System" search box. If that system exists in our database, it will appear under the search bar. Select the system and click "Search".
                </p>
                <h2 class="mt-5 text-lg font-bold">...to expand my faction:</h2>
                <p class="ml-5">
                    To find systems that a specific faction can colonise, click the "More Options" button and enter the faction's name into the "Faction" search box. If that faction exists in our database, it will appear under the search bar. Select the system and click "Search".
                    <br /><br />
                    When viewing the details of a colonisation candidate, the locations, names, and controlling factions of stations that you can use for colonisation are shown under the "Nearby Stations" heading. Remember to pick a station controlled by the faction you want to expand.
                </p>
                <h2 class="mt-5 text-lg font-bold">Sorting:</h2>
                <p class="ml-5">
                    There are a few different sorting options you can select when executing a search: "System Value", "Most Walkable Bodies", "Most Hotspots", "Distance to Sol", and "Distance to Trailblazer Megaship".
                </p>
                <h2 class="mt-5 text-lg font-bold">General Notes:</h2>
                <p class="ml-5">
                    This tool is not perfect, and not all colonisable systems in the database are up to date with their current claim status. As such, <b>you should always check colonisation candidates using the in-game colonisation map mode.</b>
                    <br /><br />
                    Additionally, if you want to contribute to the database's current understanding of the galaxy, you can report uncolonisable systems as "Claimed" (if another player has claimed/colonised the system) or "Locked" (if Frontier has prevented the system's colonisation for whatever reason).
                </p>
            </div>
        </div>

        <div id="about-heading-4" class="grid">
            <button type="button" class="flex w-full cursor-pointer items-center justify-between gap-3 border border-t-1 border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-4" aria-expanded="false" aria-controls="about-body-4">
                <span class="flex items-center font-bold text-[#0F0F0F]">How is system value calculated?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-4" class="hidden" aria-labelledby="about-heading-4">
            <div class="border border-t-0 border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    The value of a system gets calculated based on the types and quantities of bodies in the system, the number of walkable bodies, and the number of hotspots.
                    <br /><br />
                    Bodies/body features are categorised into three groups and then weighted according to their group.
                </p>
                <div class="mt-5 rounded-lg border">
                    <table class="w-full table-fixed text-center">
                        <tr class="border-b">
                            <th class="border-r">Interesting (1.0)</th>
                            <th class="border-r">Meh (0.5)</th>
                            <th>Boring (0.2)</th>
                        </tr>
                        <tr>
                            <td class="border-r">Black Holes</td>
                            <td class="border-r">Rocky Ice Worlds</td>
                            <td>Other Star Types</td>
                        </tr>
                        <tr class="bg-gray-200">
                            <td class ="border-r">Neutron Stars</td>
                            <td class="border-r">Rocky Bodies</td>
                            <td>Gas Giants</td>
                        </tr>
                        <tr>
                            <td class="border-r">White Dwarves</td>
                            <td class="border-r">Rings</td>
                            <td>High Metal Content Worlds</td>
                        </tr>
                        <tr class="bg-gray-200">
                            <td class="border-r">Earth-like Worlds</td>
                            <td class="border-r"></td>
                            <td>Metal Rich Bodies</td>
                        </tr>
                        <tr>
                            <td class="border-r">Water Worlds</td>
                            <td class="border-r"></td>
                            <td>Icy Bodies</td>
                        </tr>
                        <tr class="bg-gray-200">
                            <td class="border-r">Bodies with Geologicals</td>
                            <td class="border-r"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="border-r">Bodies with Organics</td>
                            <td class="border-r"></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <p class="mt-5">
                    The number of walkable bodies gets multiplied by a weight of 0.6, and the number of hotspots gets multiplied by a weight of 0.8.
                    <br /><br />
                    The sum of quantities * weights produces the system's value.
                    <br /><br />
                    Why these weights? ¯\_(ツ)_/¯
                </p>
            </div>
        </div>

        <div id="about-heading-6" class="grid">
            <button type="button" class="flex w-full cursor-pointer items-center justify-between gap-3 border border-t-1 border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-6" aria-expanded="false" aria-controls="about-body-6">
                <span class="flex items-center font-bold text-[#0F0F0F]">Someone already claimed the system I wanted; what gives?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-6" class="hidden" aria-labelledby="about-heading-6">
            <div class="border border-t-0 border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    There is no 100% accurate way to track which systems have been claimed or colonised because players need to opt into sharing this data using 3rd party apps. Therefore, we need to make the most of the information we have, which can sometimes be outdated.
                    <br /><br />
                    If you want to help improve the dataset, you can do one of two things:
                </p>
                <ol class="ml-5 list-decimal">
                    <li>Start using a third-party app that allows you to opt into sharing your (anonymised) data with <a href="https://github.com/EDCD/EDDN" class="text-blue-800 underline">EDDN</a>. This will help improve all third-party apps that utilise this data. (<a href="https://edcd.github.io/cmdrs-guide.html" class="text-blue-800 underline">More Details</a>)</li>
                    <li>Report systems using the "Report as Locked" and "Report as Claimed" links under every search result produced by this tool. This removes the reported system from your future search results and contributes to a global blocklist for all users.</li>
                </ol>
                <p class="mt-5 font-bold">You should always check colonisation candidates using the in-game colonisation map mode.</p>
            </div>
        </div>

        <div id="about-heading-7" class="grid">
            <button type="button" class="flex w-full cursor-pointer items-center justify-between gap-3 border border-t-1 border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-7" aria-expanded="false" aria-controls="about-body-7">
                <span class="flex items-center font-bold text-[#0F0F0F]">Why is a colonised system or faction missing from its search box?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-7" class="hidden" aria-labelledby="about-heading-7">
            <div class="border border-t-0 border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>If a colonised system is missing from the search box, there are a few possibilities:</p>
                <ul class="ml-5 list-disc">
                    <li>The system was colonised today, and thus the database has not been updated with the new information yet.</li>
                    <li>The system was never sent to EDDN and thus is unknown to the database.</li>
                    <li>The system is outside of this tool's range (more than 2000-3000 ly from Sol).</li>
                </ul>
                <br />
                <p>
                    It is rarer for a faction to be missing from the database and would likely only occur if the faction is not present within the tool's range (more than 2000-3000 ly from Sol). If this is not the case, let me know via the <a href="https://forums.frontier.co.uk/threads/introducing-edcolonise-net-a-colonisation-candidate-finder.635882/">Frontier Forum</a> post.
                </p>
                <br />
                <p>
                    The tool's database is updated with new data daily at 5:00 UTC.
                </p>
            </div>
        </div>

        <div id="about-heading-8" class="grid">
            <button type="button" class="flex w-full cursor-pointer items-center justify-between gap-3 border border-t-1 border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-8" aria-expanded="false" aria-controls="about-body-8">
                <span class="flex items-center font-bold text-[#0F0F0F]">Why are some stations listed as "Unknown"?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-8" class="hidden" aria-labelledby="about-heading-8">
            <div class="border border-t-0 border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    Stations are marked as "Unknown" when the database has incomplete data about a colonised system. The tool has correctly identified that the system has been colonised, but detailed information about stations in the system has not been uploaded yet.
                </p>
            </div>
        </div>

        <div id="about-heading-9" class="grid">
            <button type="button" class="flex w-full cursor-pointer items-center justify-between gap-3 border border-t-1 border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-9" aria-expanded="false" aria-controls="about-body-9">
                <span class="flex items-center font-bold text-[#0F0F0F]">What are colony influences?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-9" class="hidden" aria-labelledby="about-heading-9">
            <div class="border border-t-0 border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    Some stations have an economy listed as "Colony" in the construction screen. When the station is built, the "Colony" economy is replaced, depending on the station's location. For example, a Coriolis station built around a rocky body will have a "Refinery" economy, rather than the "Colony" economy.
                </p>
            </div>
        </div>

        <div id="about-heading-10" class="grid">
            <button type="button" class="flex w-full cursor-pointer items-center justify-between gap-3 border border-t-1 border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-10" aria-expanded="false" aria-controls="about-body-10">
                <span class="flex items-center font-bold text-[#0F0F0F]">What is the best way to provide feedback or report issues/bugs?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-10" class="hidden" aria-labelledby="about-heading-10">
            <div class="border border-t-0 border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    Currently, the best way to contact me about ED Colonise is by commenting on the Frontier Forum post for this tool.
                </p>
                <br />
                <a href="https://forums.frontier.co.uk/threads/introducing-edcolonise-net-a-colonisation-candidate-finder.635882/" target="_blank" class="text-blue-800 underline">Link to the Frontier Forum post.</a>
            </div>
        </div>
    </div>
</section>