@page
@model elite_dangerous_colonise.Pages.AboutModel
@{
    ViewData["Title"] = "About Page";
    ViewData["Description"] = "This page contains information about ED Colonise.";
    ViewData["url"] = "https://edcolonise.net/About";
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script>
        $("[data-accordion-target]").on("click", function () {
            const button = $(this);

            $("[data-accordion-target]").each(function () {
                const button = $(this);

                RemoveActiveClasses(button);
            });

            if (button.attr("aria-expanded") === "false") {
                AddActiveClasses(button);
            }
            else {
                RemoveActiveClasses(button);
            }
        });

        function AddActiveClasses(button) {
            const span = button.find("span");
            const svg = button.find("svg");

            button.addClass("bg-[#F07B05] text-[#F0F0F0]")
                .removeClass("bg-white text-[#0F0F0F]");
            span.addClass("text-[#F0F0F0]")
                .removeClass("text-[#0F0F0F]");
            svg.addClass("text-[#F0F0F0]")
                .removeClass("text-[#0F0F0F]");
        }

        function RemoveActiveClasses(button) {
            const span = button.find("span");
            const svg = button.find("svg");

            button.addClass("bg-white text-[#0F0F0F]")
                .removeClass("bg-[#F07B05] text-[#F0F0F0]");
            span.addClass("text-[#0F0F0F]")
                .removeClass("text-[#F0F0F0]");
            svg.addClass("text-[#0F0F0F]")
                .removeClass("text-[#F0F0F0]");
        }
    </script>
}
<section class="mt-3 mb-3 w-full rounded-md bg-[#F0F0F0] p-3">
    <h1 class="p-1 text-center text-xl text-[#0F0F0F] sm:text-left">About</h1>
    <div data-accordion="collapse" class="mt-3">
        <div id="about-heading-1" class="grid">
            <button type="button" class="border-t-1 flex w-full cursor-pointer items-center justify-between gap-3 rounded-t-lg border border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-1" aria-expanded="false" aria-controls="about-body-1">
                <span class="flex items-center font-bold text-[#0F0F0F]">What is this?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-1" class="hidden" aria-labelledby="about-heading-1">
            <div class="border-t-0 border border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    I created this tool to help find interesting colonisation candidates. I intended to use it
                    for personal use only, but I thought others might also be interested in it, so I turned it
                    into a web app.
                </p>
            </div>
        </div>

        <div id="about-heading-2" class="grid">
            <button type="button" class="border-t-1 flex w-full cursor-pointer items-center justify-between gap-3 border border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-2" aria-expanded="false" aria-controls="about-body-2">
                <span class="flex items-center font-bold text-[#0F0F0F]">How does it work?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-2" class="hidden" aria-labelledby="about-heading-2">
            <div class="border-t-0 border border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>To start using the tool:</p>
                <ol class="list-inside list-decimal ps-2">
                    <li>Enter the name of a colonised system (optional).</li>
                    <li>Enter the name of a faction you want to expand (optional).</li>
                    <li>Select the order in which you want the results to appear.</li>
                    <li>Select if you want the search results to include systems that have been claimed (but not colonised).</li>
                    <li>Click search.</li>
                </ol>
                <p class="mt-2">
                    After a short wait, the tool will populate the "Colonisation Candidates" section with results
                    matching your search within about 1000 ly of Sol.
                </p>
                <br />
                <p>
                    Clicking on the name of any of the systems in the result will open an accordion box that displays
                    details about the selected system.
                </p>
                <p>These include:</p>
                <ul class="list-inside list-disc ps-2">
                    <li>An overview of the system.</li>
                    <li>Details about the rings and hotspots in the system.</li>
                    <li>Details about the notable bodies in the system.</li>
                    <li>Stations in systems within the colonisation range can be used to colonise the selected system.</li>
                </ul>
            </div>
        </div>

        <div id="about-heading-4" class="grid">
            <button type="button" class="border-t-1 flex w-full cursor-pointer items-center justify-between gap-3 border border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-4" aria-expanded="false" aria-controls="about-body-4">
                <span class="flex items-center font-bold text-[#0F0F0F]">How do the search orders work?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-4" class="hidden" aria-labelledby="about-heading-4">
            <div class="border-t-0 border border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>There are currently five search order options:</p>
                <ul class="list-inside list-disc ps-2">
                    <li>Combined Value</li>
                    <li>Most Landable Bodies</li>
                    <li>Most Hotspots</li>
                    <li>Notable Body Value</li>
                    <li>Distance to Sol</li>
                    <li>Distance to Trailblazer Megaship</li>
                </ul>
                <p class="mt-2">
                    While "Most Landable Bodies", "Most Hotspots", "Distance to Sol", and "Distance to Trailblazer Megaship"
                    are self-explanatory, the other two options are less so.
                </p>
                <br />
                <p>
                    "Notable Body Value" is not the in-game value of the bodies in the system; instead, it is
                    the point-based system based on the body type.
                    <br />
                    The breakdown of points is as follows:
                </p>
                <ul class="list-inside list-disc ps-2">
                    <li>Black Holes, Neutron Stars, Ammonia worlds - 1 point</li>
                    <li>Water worlds - 2 points</li>
                    <li>Earth-like worlds - 3 points</li>
                </ul>
                <p class="mt-2">Why these types or values? &nbsp; ¯\_(ツ)_/¯</p>
                <br />
                <p>
                    "Combined Value" is a weighted combination of "Most Landable Bodies", "Most Hotspots",
                    and "Notable Body Value".
                </p>
            </div>
        </div>

        <div id="about-heading-5" class="grid">
            <button type="button" class="border-t-1 flex w-full cursor-pointer items-center justify-between gap-3 border border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-5" aria-expanded="false" aria-controls="about-body-5">
                <span class="flex items-center font-bold text-[#0F0F0F]">Why would I want to include claimed systems?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-5" class="hidden" aria-labelledby="about-heading-5">
            <div class="border-t-0 border border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    It's not hard to find which systems have been colonised (it's systems with a government
                    and/or a station) and not too tricky to work out which have been claimed (it's systems
                    that have a colonisation ship that is not yet colonised), but it's hard to find systems
                    that have been claimed and then abandoned.
                </p>
                <br />
                <p>
                    Because of this, I decided to include the option to show claimed systems. When you do
                    this, any systems that have been claimed will display the last time someone docked at
                    that system's colonisation ship. If that was long ago, the system might be abandoned
                    and ready to claim again.
                </p>
            </div>
        </div>

        <div id="about-heading-6" class="grid">
            <button type="button" class="border-t-1 flex w-full cursor-pointer items-center justify-between gap-3 border border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-6" aria-expanded="false" aria-controls="about-body-6">
                <span class="flex items-center font-bold text-[#0F0F0F]">Someone already claimed the system I wanted; what gives?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-6" class="hidden" aria-labelledby="about-heading-6">
            <div class="border-t-0 border border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>This tool leans if a system is claimed in two ways:</p>
                <ol class="list-inside list-decimal ps-2">
                    <li>While performing the daily update, a system colonisation ship is found in an uncolonised system.</li>
                    <li>An EDDN data contributor docks at a system colonisation ship.</li>
                </ol>
                <br />
                <p>
                    The tool doesn't know if a system has been claimed if neither of these criteria
                    is met.
                </p>
                <p>
                    I always recommend double-checking a system's colonisation status using the in-game
                    map mode before travelling to colonise it.
                </p>
            </div>
        </div>

        <div id="about-heading-7" class="grid">
            <button type="button" class="border-t-1 flex w-full cursor-pointer items-center justify-between gap-3 border border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-7" aria-expanded="false" aria-controls="about-body-7">
                <span class="flex items-center font-bold text-[#0F0F0F]">Why are some systems missing from the search results?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-7" class="hidden" aria-labelledby="about-heading-7">
            <div class="border-t-0 border border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>If a system is missing from the list, there are a few possibilities:</p>
                <ol class="list-inside list-decimal ps-2">
                    <li>The system was discovered today and has not yet been added to the database.</li>
                    <li>The system was never sent to EDDN and thus never entered the database.</li>
                    <li>The server considered the system boring (no notable bodies, no rings, and no landable bodies.)</li>
                    <li>The system is outside this tool's range (more than 1000 ly ish away from Sol).</li>
                </ol>
                <br />
                <p>
                    The tool's database is updated with all the new discoveries, claims, and colonised
                    systems from the previous day once per day at 5 a.m. UTC.
                </p>
            </div>
        </div>

        <div id="about-heading-8" class="grid">
            <button type="button" class="border-t-1 flex w-full cursor-pointer items-center justify-between gap-3 border border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-8" aria-expanded="false" aria-controls="about-body-8">
                <span class="flex items-center font-bold text-[#0F0F0F]">The tool says that a system can be colonised, but the game disagrees; why?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-8" class="hidden" aria-labelledby="about-heading-8">
            <div class="border-t-0 border border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    This tool decides if a system can be colonised if it is in range of another colonised
                    system (with a valid station type). Extra-bubble stations that can't be used for
                    colonisation cause issues with this, resulting in colonisable systems being marked as
                    colonisable.
                </p>
                <br />
                <p>
                    I believe this issue will be solved over time as these systems eventually become linked
                    to the bubble.
                </p>
            </div>
        </div>

        <div id="about-heading-9" class="grid">
            <button type="button" class="border-t-1 flex w-full cursor-pointer items-center justify-between gap-3 border border-b-1 border-[#0F0F0F] bg-white p-5 text-[#0F0F0F] shadow-sm hover:bg-[#ff9305] rtl:text-right" data-accordion-target="#about-body-9" aria-expanded="false" aria-controls="about-body-9">
                <span class="flex items-center font-bold text-[#0F0F0F]">I've run into an issue/bug or I have a recommendation. How do I let you know about it?</span>
                <svg data-accordion-icon class="h-3 w-3 shrink-0 rotate-180 transition-transform duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </div>

        <div id="about-body-9" class="hidden" aria-labelledby="about-heading-9">
            <div class="border-t-0 border border-[#0F0F0F] bg-white p-5 shadow-sm">
                <p>
                    There is a post on the Frontier Forum that you can use to post bug reports and recommendations.
                </p>
                <br />
                <a href="https://forums.frontier.co.uk/threads/introducing-edcolonise-net-a-colonisation-candidate-finder.635882/" target="_blank" class="text-blue-800 underline">Link to the Frontier Forum post.</a>
            </div>
        </div>
    </div>
</section>