@page
@model elite_dangerous_colonise.Pages.ErrorModel
@{
	ViewData["Title"] = "Error";
	ViewData["Description"] = "Being on this page means something has gone wrong.";
	ViewData["url"] = "https://edcolonise.net/Error";
}

<section class="w-full pt-4 text-center text-[#F0F0F0]">
	<h1 class="text-4xl">Error - @Model.StatusCode</h1>

	@if (Model.StatusCode == 401 || Model.StatusCode == 403)
	{
		<p class="text-2xl">You do not have permission to view this page.</p>
	}
	else if (Model.StatusCode == 404)
	{
		<p class="text-2xl">The page you are looking for could not be found.</p>
	}
	else if (Model.StatusCode == 500)
	{
		<p class="text-2xl">An internal error occured.</p>
		<br />
		<p>
			Please post on the <a href="https://forums.frontier.co.uk/threads/introducing-edcolonise-net-a-colonisation-candidate-finder.635882/" target="_blank" class="text-blue-800 underline">Fontier Forum</a> and include details on what you were doing when
			the error occured and the Request ID below.
		</p>

		@if (Model.ShowRequestID)
		{
			<br />
			<p>Request ID: @Model.RequestID</p>
		}
	}
</section>